.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.sectionTitle > a {
  color: #ffffff;
  position: relative;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

.sectionTitle > h2 {
  position: relative;
  color: #ffffff;
}

.sectionTitle > h2 > span {
  color: #c778dd;
}

.sectionTitle > h2::after {
  content: '';
  display: inline-block;
  top: 50%;
  left: 100%;
  margin-left: 16px;
  position: absolute;
  height: 1px;
  background-color: #c778dd;
}

.sectionTitleDescription {
  margin-top: 14px;
  color: #ffffff;
}
