.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

.sectionTitle > a {
  color: #ffffff;
  position: relative;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
