.skills {
  margin-bottom: 125px;
}

.skillsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.abstractions {
  position: relative;
  width: 349px;
  height: 282px;
  flex-basis: 33%;
}

.abstraction {
  position: absolute;
}

.dots_o {
  width: 63px;
  height: 63px;
  top: 28px;
  left: 0px;
}

.dots_t {
  width: 63px;
  height: 63px;
  top: 143px;
  left: 182px;
}

.square_o {
  width: 86px;
  height: 86px;
  top: 0;
  right: 46px;
}

.square_t {
  width: 52px;
  height: 52px;
  top: 193px;
  right: 10px;
}

.lines {
  width: 113px;
  height: 113px;
  bottom: 0;
  left: 20px;
}

.knowledge {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-basis: 66%;
  gap: 10px;
}

.card {
  width: calc(33% - 10px);
  border: 1px solid #abb2bf;
  margin-bottom: 20px;
}

.cardTitle {
  display: block;
  padding: 8px;
  font-weight: 600;
  color: #ffffff;
  border-bottom: 1px solid #abb2bf;
}

.cardDescription {
  padding: 8px;
  color: #abb2bf;
  font-size: 16px;
}
