.intro {
  display: flex;
  justify-content: space-between;
  margin-top: 62px;
  margin-bottom: 149px;
}

.introLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introWhoIs {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

.introWhoIs > span {
  color: #c778dd;
}

.introDescription {
  font-size: 16px;
  font-weight: 400;
  color: #abb2bf;
  margin-top: 32px;
}

.introContactBtn {
  font-family: 'Fira Code';
  width: 148px;
  height: 37px;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  outline: none;
  background-color: rgb(0, 0, 0, 0);
  border: 1px solid #c778dd;
  cursor: pointer;
}

.introRightSide {
  position: relative;
}

.introImages {
  width: 457px;
  height: 386px;
}

.introLogoImg {
  position: relative;
  background-image: url('../../../public/assets/images/intro/logo.svg');
  background-repeat: no-repeat;
  width: 457px;
  height: 386px;
  z-index: 1;
}

.introLogoImg::after span {
  color: #abb2bf;
}

.introLinesImg {
  background-image: url('../../../public/assets/images/others/linesInSquare.svg');
  background-repeat: no-repeat;
  position: absolute;
  width: 155px;
  height: 156px;
  top: 84px;
  right: 314px;
  z-index: 0;
}

.introDotsImg {
  background-image: url('../../../public/assets/images/others/dots.svg');
  background-repeat: no-repeat;
  position: absolute;
  width: 84px;
  height: 84px;
  top: 246px;
  right: 16px;
  z-index: 2;
}

.introLogoBanner {
  display: flex;
  align-items: center;
  width: 402px;
  left: 19px;
  margin-left: 19px;
  border: 1px solid #abb2bf;
  padding: 8px 0 8px 8px;
}

.introLogoBanner span {
  margin-left: 10px;
  color: #abb2bf;
}

.introLogoBanner span > strong {
  color: #ffffff;
  font-weight: 600;
}

.introLogoBanner::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: #c778dd;
}
