.App {
  width: 1024px;
  margin: 0 auto;
  position: relative;
}

.intro {
  margin-top: 62px;
  display: flex;
  justify-content: space-between;
}

.intro__who-is {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

.intro__who-is > span {
  color: #c778dd;
}

.intro__description {
  font-size: 16px;
  font-weight: 400;
  color: #abb2bf;
  margin-top: 32px;
}

.intro__contact-btn {
  font-family: 'Fira Code';
  width: 148px;
  height: 37px;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  outline: none;
  background-color: rgb(0, 0, 0, 0);
  border: 1px solid #c778dd;
}

.intro__right-side {
  position: relative;
}

.intro__logo-img {
  position: relative;
  z-index: 1;
}

.intro__lines-img {
  position: absolute;
  top: 84px;
  right: 314px;
  z-index: 0;
}

.intro__dots-img {
  position: absolute;
  top: 246px;
  right: 16px;
  z-index: 2;
}

.intro__logo-banner {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 402px;
  position: absolute;
  left: 19px;
  bottom: -34px;
  border: 1px solid #abb2bf;
  padding: 8px 0 8px 8px;
  z-index: 3;
}

.intro__logo-banner span {
  color: #abb2bf;
}

.intro__logo-banner span > strong {
  color: #ffffff;
  font-weight: 600;
}

.intro__logo-banner::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: #c778dd;
}
